.desktop-playlist-mais-categorias {
  align-items: flex-end;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.flex-row-27 {
  align-items: flex-start;
  display: flex;
  gap: 1425px;
  height: 924px;
  margin-right: -1993px;
  margin-top: -291px;
  min-width: 3413px;
}

.flex-col-53 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 39px;
  min-height: 611px;
  width: 1405px;
}

.overlap-group27 {
  height: 63px;
  margin-right: 4px;
  position: relative;
  width: 1394px;
}

.rectangle-292-6 {
  border: 1px none;
  cursor: pointer;
  height: 46px;
  left: 1336px;
  position: absolute;
  top: 5px;
  width: 47px;
}

.rectangle-585-7 {
  border: 1px none;
  height: 49px;
  left: 1125px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.rectangle-586-5 {
  border: 1px none;
  cursor: pointer;
  height: 49px;
  left: 1125px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.flex-row-28 {
  align-items: center;
  display: flex;
  height: 509px;
  min-width: 1405px;
}

.overlap-group32 {
  align-items: flex-start;
  background-image: url(/static/img/arrowleft-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 8.5px;
  min-width: 32px;
}

.arrow-left-6 {
  height: 32px;
  width: 32px;
}

.overlap-group34 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 7.0px;
  margin-left: 23px;
  min-width: 150px;
}

.group-21 {
  background-size: 100% 100%;
  height: 150px;
  width: 150px;
}

.overlap-group20 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 6.0px;
  margin-left: 44px;
  min-width: 233px;
}

.group-21-1 {
  background-size: 100% 100%;
  height: 233px;
  width: 233px;
}

.flex-col-54 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  min-height: 509px;
  width: 350px;
}

.overlap-group-container-1 {
  align-items: center;
  display: flex;
  gap: 14px;
  margin-left: 0.6px;
  min-width: 217px;
}

.suas-playlists-container {
  height: 29px;
  margin-bottom: 1.0px;
  position: relative;
  width: 163px;
}

.suas-playlists {
  height: 29px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.group-container-1 {
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.group-224 {
  align-items: flex-start;
  background: conic-gradient(from 180deg at 50% 50%, rgb(207, 20, 110) 0deg, rgba(207, 20, 110, 0) 360deg);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 0;
  min-width: 40px;
  padding: 6.2px 6.2px;
  position: absolute;
  top: 0;
}

.group-166 {
  background-image: url(/static/img/icons-apps-instagram-add-5@2x.svg);
  background-size: 100% 100%;
  height: 27px;
  width: 27px;
}

.overlap-group33 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  margin-top: 40px;
  min-width: 350px;
}

.group-210 {
  background-size: 100% 100%;
  cursor: pointer;
  height: 343px;
  width: 350px;
}

.categorias {
  height: 35px;
  letter-spacing: 0;
  margin-right: 4.4px;
  margin-top: 51px;
  text-align: center;
  width: 290px;
}

.overlap-group24 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 6.0px;
  margin-left: 45px;
  min-width: 233px;
}

.overlap-group28 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 7.0px;
  margin-left: 45px;
  min-width: 150px;
}

.overlap-group25 {
  align-items: flex-start;
  background-image: url(/static/img/arrowleft-8@2x.svg);
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 7.0px;
  margin-left: 23px;
  min-width: 32px;
}

.ellipse-2-12 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  width: 583px;
}

.flex-row-29 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 245px;
  margin-left: 5.0px;
  margin-top: 8px;
  min-width: 1405px;
}

.arrow-left-7 {
  align-self: center;
  height: 32px;
  margin-bottom: 54.66px;
  width: 32px;
}

.group-container-2 {
  height: 190px;
  margin-left: 5px;
  position: relative;
  width: 176px;
}

.overlap-group4-7 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-14@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: 0;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: 0;
}

.group-155 {
  background-size: 100% 100%;
  height: 116px;
  width: 119px;
}

.mask-group-7 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.overlap-group16 {
  height: 116px;
  left: 25px;
  position: absolute;
  top: 33px;
  width: 125px;
}

.rectangle-34 {
  background-color: #4a558f;
  border: 1px none;
  border-radius: 4px;
  height: 116px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 124px;
}

.mask-group-8 {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.flex-col-55 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-left: 19px;
  min-height: 212px;
  width: 1173px;
}

.flex-row-30 {
  align-items: center;
  display: flex;
  min-width: 1173px;
}

.overlap-group-container-2 {
  height: 116px;
  position: relative;
  width: 119px;
}

.overlap-group3-6 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-13@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -31px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group11 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-21@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -31px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.x-group {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 119px;
}

.rectangle-34-1 {
  background-color: #75c821;
  border: 1px none;
  border-radius: 4px;
  height: 116px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 118px;
}

.overlap-group-container-3 {
  height: 116px;
  margin-left: 42px;
  position: relative;
  width: 122px;
}

.overlap-group5-5 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-15@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -28px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group12 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-22@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -28px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.x-group-1 {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 122px;
}

.rectangle-34-2 {
  background-color: #bd611f;
  border: 1px none;
  border-radius: 4px;
  height: 116px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 121px;
}

.overlap-group-container-4 {
  height: 116px;
  margin-left: 44px;
  position: relative;
  width: 120px;
}

.overlap-group1-12 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-11@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -30px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group9 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-19@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -30px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.x-group-2 {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}

.rectangle-34-3 {
  background-color: #cf259f;
  border: 1px none;
  border-radius: 4px;
  height: 116px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 119px;
}

.overlap-group-16 {
  border-radius: 4px;
  height: 116px;
  margin-left: 44px;
  position: relative;
  width: 120px;
}

.overlap-group6-2 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-16@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -30px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group13 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-23@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -30px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group2-8 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-12@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -30px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group10 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-20@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -30px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group-17 {
  height: 116px;
  margin-left: 45px;
  position: relative;
  width: 119px;
}

.overlap-group7 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-17@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -31px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group14 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-24@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -31px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group8 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-18@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -31px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.overlap-group15 {
  align-items: flex-start;
  background-image: url(/static/img/mask-group-25@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 190px;
  justify-content: flex-end;
  left: -31px;
  min-width: 176px;
  padding: 32.8px 26.1px;
  position: absolute;
  top: -33px;
}

.arrow-left-8 {
  height: 32px;
  margin-left: 38px;
  margin-top: 7.51px;
  width: 32px;
}

.group-146-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-right: 237.0px;
  min-width: 32px;
  transform: rotate(-180deg);
}

.arrowleft-container-2 {
  height: 57px;
  position: relative;
  width: 32px;
}

.arrow-left-9 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 32px;
}

.arrow-left-10 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 25px;
  transform: rotate(180deg);
  width: 32px;
}

.player-container {
  height: 101px;
  margin-top: 38px;
  position: relative;
  width: 1440px;
}

