.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #0A0B0E;
    padding: 30px 1em 0px;
    border: none;
}

.navBar-ajusteProfile{
    margin-top: 10px;
    margin-left: 70px;
}

.navBar-ajusteOptions{
    margin-top: 10px;
}

.navBar-text-user{
    position: relative;
    color: white;
    right: -10px;
    bottom: 31px;
}

.navBar-text-user-music{
    color: white;
}

.navBar-profilePosition{
    position: relative;
    right: 340px;
    bottom: 20px;
}

.navBar-list{
    display: flex;
    list-style: none;
    align-items: center;

    margin-right: 260px;
}

.navBar-item {
    margin-right: -36px;
    margin-bottom: 1em;
}

.navBar-HomeAdjust{
    position: relative;
    left: 180px;
    bottom: 20px;
}

.navBar-HomeAdjustImage{
    width: 150%;
    cursor: pointer;
}

.navBar-LibraryAdjust{
    position: relative;
    right: -190px;
    bottom: 15px;
}

.navBar-LibraryAdjustImage{
    width: 145%;
    cursor: pointer;
}

.navBar input{
    position: relative;
    width: 180%;
    height: 50px;
    bottom: 18px;
    left: 230px;
    border-radius: 5px;
    font-size: 25px;
}

.navBar-lupa{
    background-repeat: no-repeat;
    background-position: left 5px top 15px;
    padding-left: 1.3em;
}