.container {
    width: 100%;
    margin: 0 auto;
  }

  .container-list {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 190, 190);
  }