.desktop-5 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.flex-row-32 {
  align-items: flex-start;
  display: flex;
  gap: 1407px;
  height: 1216px;
  margin-top: -291px;
  min-width: 3433px;
}

.overlap-group2-9 {
  align-self: flex-end;
  height: 925px;
  position: relative;
  width: 1443px;
}

.group-187-1 {
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px #00000040;
  height: 377px;
  left: 90px;
  position: absolute;
  top: 131px;
  width: 350px;
}

.to-the-moon-9 {
  height: 29px;
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 530px;
  width: 290px;
}

.cleidson-costa-9 {
  height: 29px;
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 573px;
  width: 290px;
}

.x3h-6min-9 {
  height: 23px;
  left: 368px;
  letter-spacing: 0;
  opacity: 0.5;
  position: absolute;
  top: 576px;
}

.image-13-1 {
  height: 415px;
  left: 475px;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 919px;
}

.image-14-1 {
  height: 331px;
  left: 467px;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 929px;
}

.rectangle-263-1 {
  background-color: var(--black);
  border: 1px none;
  height: 925px;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 1439px;
}

.rectangle-264-1 {
  height: 383px;
  left: 205px;
  position: absolute;
  top: 271px;
  width: 1030px;
}

.bem-vindo-14 {
  height: 102px;
  left: 412px;
  position: absolute;
  top: 368px;
  width: 615px;
}

.group-190-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 70px;
  left: 1347px;
  min-width: 66px;
  position: absolute;
  top: 25px;
}

.group-229 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 597px;
  min-width: 247px;
  position: absolute;
  top: 511px;
}

.overlap-group1-14 {
  border-radius: 56px;
  height: 52px;
  position: relative;
  width: 245px;
}

.rectangle-265-1 {
  background: linear-gradient(180deg, rgb(207, 20, 110) 0%, rgba(207, 20, 110, 0) 100%);
  border: 1px none;
  border-radius: 56px;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 245px;
}

.bem-vindo-15 {
  height: 38px;
  left: 53px;
  letter-spacing: -0.14px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 139px;
}

.ellipse-2-14 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  width: 583px;
}

