:root { 
  --biscay: #1e3264;
  --black: #000000;
  --cod-gray: #0a0b0e;
  --eerie-black: #1f1f1f;
  --eerie-black-2: #1f1919;
  --licorice: #131313;
  --malachite: #1ed760;
  --mercury: #e5e5e5;
  --mist-gray: #c4c4c4;
  --nobel: #b3b3b3;
  --pale-sky: #6b7280;
  --perano: #a4bfffb2;
  --razzmatazz: #de0e72;
  --solitude: #eaf0ff;
  --stack: #8c8c8c;
  --white: #ffffff;
  --white-2: #ffffff96;
  --wild-sand: #f3f4f6;
 
  --font-size-l: 18.7px;
  --font-size-m: 16px;
  --font-size-s: 13px;
  --font-size-xl: 20px;
  --font-size-xs: 11px;
  --font-size-xxl: 38px;
  --font-size-xxs: 10px;
 
  --font-family-?????-??: "?????-??", Helvetica;
  --font-family-dm_sans: "DM Sans", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.inter-normal-pale-sky-16px {
  color: var(--pale-sky);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-mercury-11px {
  color: var(--mercury);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-solitude-20px {
  color: var(--solitude);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-11px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-white-18-7px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.--normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-?????-??);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-nobel-13px {
  color: var(--nobel);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.roboto-extra-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 800;
}

.inter-bold-solitude-38px {
  color: var(--solitude);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-white-34px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.--normal-white-21px {
  color: var(--white);
  font-family: var(--font-family-?????-??);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.dmsans-bold-white-29px {
  color: var(--white);
  font-family: var(--font-family-dm_sans);
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-perano-10px {
  color: var(--perano);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-solitude-14px {
  color: var(--solitude);
  font-family: var(--font-family-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.inter-bold-solitude-24px {
  color: var(--solitude);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-eerie-black-12-3px {
  color: var(--eerie-black-2);
  font-family: var(--font-family-roboto);
  font-size: 12.3px;
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-licorice-16px {
  color: var(--licorice);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-30px-2 {
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
