.group-1822-4 {
  align-items: flex-start;
  background-image: url(/static/img/rectangle-571@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 77px;
  left: 247px;
  min-width: 80px;
  position: fixed;
  top: 136px;
}

.rectangle-6 {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 100%);
  border: 1px none;
  border-radius: 10px;
  height: 77px;
  width: 80px;
}

.group-1822-4.group-1822-5 {
  background-image: url(/static/img/rectangle-571-1@2x.svg);
  top: 364px;
}

.group-1822-4.group-1822-6 {
  background-image: url(/static/img/rectangle-571-2@2x.svg);
  left: 246px;
  top: 250px;
}

.group-1822-4.group-1825 {
  background-image: url(/static/img/rectangle-571-3@2x.svg);
  top: 251px;
}

.group-1822-4.group-1828 {
  background-image: url(/static/img/rectangle-571-4@2x.svg);
  left: 246px;
  top: 361px;
}

.group-1822-4.group-1822-7 {
  align-self: flex-end;
  background-image: url(/static/img/rectangle-571-5@2x.svg);
  height: unset;
  left: unset;
  position: unset;
  top: unset;
}

.group-1822-4.group-1822-8 {
  align-self: flex-end;
  background-image: url(/static/img/rectangle-571-7@2x.svg);
  height: unset;
  left: unset;
  position: unset;
  top: unset;
}

.group-1822-4.group-1822-9 {
  align-self: flex-start;
  background-image: url(/static/img/rectangle-571-6@2x.svg);
  height: unset;
  left: unset;
  position: unset;
  top: unset;
}

.group-1822-4.group-1851 {
  background-image: url(/static/img/rectangle-571-8@2x.svg);
  left: 246px;
  top: 594px;
}

.group-1822-4.group-1852 {
  background-image: url(/static/img/rectangle-571-9@2x.svg);
  left: 245px;
  top: 704px;
}

