.component-33 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 242px;
  min-height: 26px;
  padding: 0.0px 0;
  position: absolute;
  top: 648px;
  width: 22px;
}

.flex-row-18 {
  align-items: center;
  display: flex;
  gap: 2px;
  margin-right: 0;
  margin-top: 1px;
  min-width: 21px;
}

.overlap-group-3 {
  height: 15px;
  position: relative;
  width: 11px;
}

.ellipse-36 {
  background-color: var(--nobel);
  border: 0.82px none;
  border-radius: 5.5px/5.94px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 11px;
}

.text-6 {
  left: 2px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rectangle-226 {
  background-color: var(--nobel);
  border: 1px none;
  height: 1px;
  margin-top: 0.05px;
  width: 8px;
}

.rectangle-227 {
  height: 1px;
  width: 13px;
}

.rectangle-228 {
  background-color: var(--nobel);
  border: 1px none;
  height: 1px;
  margin-right: 0;
  margin-top: 7px;
  width: 19px;
}

