.component-32 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 28px;
  left: 242px;
  min-width: 22px;
  position: absolute;
  top: 693px;
}

.overlap-group-2 {
  height: 28px;
  margin-top: -0.07px;
  position: relative;
  width: 22px;
}

.rectangle-287 {
  height: 11px;
  left: 7px;
  position: absolute;
  top: 12px;
  width: 1px;
}

.rectangle-286 {
  height: 4px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 12px;
}

.ellipse-35 {
  background-color: var(--nobel);
  border: 0.82px none;
  border-radius: 5.72px/5.84px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 11px;
}

.text-5 {
  left: 2px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.subtract {
  height: 8px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 8px;
}

.subtract-1 {
  height: 8px;
  left: 14px;
  position: absolute;
  top: 17px;
  width: 8px;
}

.rectangle-288 {
  height: 15px;
  left: 21px;
  position: absolute;
  top: 5px;
  width: 1px;
}

