.desktop-4 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  gap: 1410px;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.flex-col-49 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  min-height: 1003px;
  position: relative;
  width: 1440px;
}

.overlap-group2-5 {
  align-self: center;
  height: 63px;
  margin-left: 6.0px;
  position: relative;
  width: 1394px;
}

.rectangle-292-4 {
  border: 1px none;
  cursor: pointer;
  height: 46px;
  left: 1337px;
  position: absolute;
  top: 5px;
  width: 47px;
}

.rectangle-585-5 {
  border: 1px none;
  cursor: pointer;
  height: 49px;
  left: 1126px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.group-container {
  align-items: flex-start;
  display: flex;
  gap: 433px;
  margin-left: 67px;
  margin-top: 45px;
  min-width: 1107px;
}

.overlap-group-13 {
  height: 379px;
  position: relative;
  width: 350px;
}

.spotify-playlist-01-to-the-moon-1 {
  height: 377px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.rectangle-591-1 {
  border: 1px none;
  cursor: pointer;
  height: 61px;
  left: 12px;
  position: absolute;
  top: 318px;
  width: 134px;
}

.group-199 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 33px;
  min-width: 324px;
}

.overlap-group1-8 {
  border-radius: 56px;
  height: 75px;
  position: relative;
  width: 322px;
}

.iconsappsinstagramadd-2 {
  height: 49px;
  left: 62px;
  position: absolute;
  top: 13px;
  width: 58px;
}

.rectangle-268-2 {
  background: linear-gradient(180deg, rgb(207, 20, 110) 0%, rgba(207, 20, 110, 0) 100%);
  border: 1px none;
  border-radius: 56px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 322px;
}

.bem-vindo-5 {
  height: 38px;
  left: 120px;
  letter-spacing: -0.14px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 139px;
}

.to-the-moon-4 {
  height: 29px;
  letter-spacing: 0;
  margin-left: 67px;
  margin-top: 20px;
  width: 290px;
}

.overlap-group3-4 {
  height: 29px;
  margin-left: 67px;
  margin-top: 14px;
  position: relative;
  width: 350px;
}

.cleidson-costa-4 {
  height: 29px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 290px;
}

.x3h-6min-4 {
  height: 23px;
  left: 278px;
  letter-spacing: 0;
  opacity: 0.5;
  position: absolute;
  top: 3px;
}

.ellipse-2-8 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  margin-top: -291px;
  width: 583px;
}

