.desktop-pesquisa-2 {
  background-color: var(--cod-gray);
  border: 1px none;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.ellipse-2-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  left: 2850px;
  position: absolute;
  top: -291px;
  width: 583px;
}

.flex-col-40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 33px;
  left: 0;
  min-height: 191px;
  position: absolute;
  top: 834px;
  width: 1440px;
}

.group-146 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 50.0px;
  min-width: 32px;
}

.arrowleft-container {
  height: 57px;
  position: relative;
  width: 32px;
}

.arrow-left {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.arrow-left-1 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 32px;
}

.flex-row-19 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  left: 26px;
  min-width: 1400px;
  position: absolute;
  top: 21px;
}

.image-2-12 {
  align-self: flex-end;
  height: 63px;
  width: 70px;
}

.flex-col-41 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1.0px;
  margin-left: 13px;
  min-height: 47px;
  width: 91px;
}

.name-26 {
  letter-spacing: 0;
  min-height: 21px;
  text-align: center;
  width: 66px;
}

.view-profile-11 {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 18px;
  text-align: center;
  width: 86px;
}

.overlap-group5-1 {
  height: 50px;
  margin-left: 633px;
  position: relative;
  width: 50px;
}

.place-13 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 50px;
}

.vector-34 {
  height: 20px;
  left: 16px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.rectangle-585-1 {
  border: 1px none;
  height: 49px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 46px;
}

.rectangle-586-1 {
  border: 1px none;
  cursor: pointer;
  height: 49px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 46px;
}

.flex-col-42 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 6.0px;
  margin-left: 37px;
  min-height: 44px;
  width: 86px;
}

.vector-35 {
  height: 20px;
  margin-right: 1.0px;
  width: 21px;
}

.your-library-13 {
  letter-spacing: 0;
  min-height: 19px;
  text-align: center;
  width: 86px;
}

.overlap-group4-1 {
  height: 50px;
  margin-left: 25px;
  margin-top: 1px;
  position: relative;
  width: 395px;
}

.icon-search-13 {
  height: 21px;
  left: 281px;
  position: absolute;
  top: 9px;
  width: 21px;
}

.search-13 {
  left: 263px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 59px;
}

.overlap-group-6 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  height: 46px;
  left: 0;
  min-width: 393px;
  padding: 11px 43px;
  position: absolute;
  top: 0;
}

.baby-1 {
  letter-spacing: 0;
  min-height: 23px;
  width: 206px;
}

.icon-search-14 {
  height: 21px;
  left: 15px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.icon-heart-21 {
  height: 20px;
  left: 973px;
  position: absolute;
  top: 273px;
  width: 20px;
}

.group-1844 {
  height: 184px;
  left: 224px;
  position: fixed;
  top: 120px;
  width: 993px;
}

.biplay-circle-fill-1 {
  height: 36px;
  left: 1143px;
  position: fixed;
  top: 156px;
  width: 36px;
}

.corao-rosa-bebe-png-2 {
  height: 19px;
  left: 1105px;
  object-fit: cover;
  position: fixed;
  top: 165px;
  width: 20px;
}

.baby-2 {
  left: 340px;
  letter-spacing: 0;
  line-height: 21px;
  position: fixed;
  top: 145px;
  white-space: nowrap;
}

.durao-243 {
  left: 682px;
  letter-spacing: 0;
  line-height: 21px;
  position: fixed;
  top: 163px;
  white-space: nowrap;
}

.group-1844-1 {
  height: 109px;
  left: 224px;
  position: fixed;
  top: 348px;
  width: 993px;
}

.biplay-circle-fill-2 {
  height: 36px;
  left: 1143px;
  position: fixed;
  top: 384px;
  width: 36px;
}

.corao-rosa-bebe-png-2-1 {
  height: 19px;
  left: 1105px;
  object-fit: cover;
  position: fixed;
  top: 393px;
  width: 20px;
}

.baby-3 {
  left: 340px;
  letter-spacing: 0;
  line-height: 21px;
  position: fixed;
  top: 373px;
  white-space: nowrap;
}

.durao-215 {
  left: 682px;
  letter-spacing: 0;
  line-height: 21px;
  position: fixed;
  top: 391px;
  white-space: nowrap;
}

.group-1844-2 {
  height: 109px;
  left: 223px;
  position: fixed;
  top: 234px;
  width: 993px;
}

.biplay-circle-fill-3 {
  height: 36px;
  left: 1142px;
  position: fixed;
  top: 270px;
  width: 36px;
}

.baby-4 {
  left: 339px;
  letter-spacing: 0;
  line-height: 21px;
  position: fixed;
  top: 259px;
  white-space: nowrap;
}

.durao-230 {
  left: 681px;
  letter-spacing: 0;
  line-height: 21px;
  position: fixed;
  top: 277px;
  white-space: nowrap;
}

.group-1850 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 223px;
  min-height: 335px;
  position: fixed;
  top: 464px;
  width: 992px;
}

.overlap-group3-1 {
  height: 109px;
  margin-top: -1px;
  position: relative;
  width: 993px;
}

.vector-32 {
  height: 26px;
  left: 835px;
  position: absolute;
  top: 39px;
  width: 28px;
}

.overlap-group-7 {
  align-items: center;
  background-image: url(/static/img/group-1844-3@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 109px;
  left: 0;
  min-width: 993px;
  padding: 16.0px 23px;
  position: absolute;
  top: 0;
}

.flex-col-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10.0px;
  margin-left: 13px;
  min-height: 47px;
  position: relative;
  width: 103px;
}

.baby {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  white-space: nowrap;
}

.durao-2 {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 239px;
  margin-top: 0;
  min-height: 21px;
  min-width: 126px;
  white-space: nowrap;
}

.corao-rosa-bebe-png-2-2 {
  height: 19px;
  margin-left: 297px;
  object-fit: cover;
  width: 20px;
}

.biplay-circle-fill {
  height: 36px;
  margin-bottom: 1.0px;
  margin-left: 18px;
  width: 36px;
}

.overlap-group2-1 {
  align-items: center;
  background-image: url(/static/img/group-1844-5@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 109px;
  margin-left: -1px;
  min-width: 993px;
  padding: 16.0px 23px;
  position: relative;
}

.vector-33 {
  height: 26px;
  margin-bottom: 5.0px;
  margin-left: 252px;
  width: 28px;
}

.icon-heart-22 {
  height: 23px;
  margin-bottom: 4.0px;
  margin-left: 16px;
  width: 24px;
}

.biplay-circle-fill-4 {
  height: 36px;
  margin-bottom: 1.0px;
  margin-left: 15px;
  width: 36px;
}

.overlap-group1-3 {
  align-items: center;
  background-image: url(/static/img/group-1844-4@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 109px;
  min-width: 993px;
  padding: 16.0px 23px;
  position: relative;
}

.durao-215-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 0;
  margin-left: 239px;
  min-height: 21px;
  min-width: 126px;
  white-space: nowrap;
}

.corao-rosa-bebe-png-2-3 {
  height: 19px;
  margin-bottom: 0;
  margin-left: 17px;
  object-fit: cover;
  width: 20px;
}

