.desktop-7 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 1410px;
  height: 1205px;
  margin-top: -291px;
  min-width: 3433px;
}

.overlap-group2 {
  align-self: flex-end;
  height: 914px;
  position: relative;
  width: 1440px;
}

.group-177 {
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px #00000040;
  height: 377px;
  left: 90px;
  position: absolute;
  top: 120px;
  width: 350px;
}

.to-the-moon {
  height: 29px;
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 519px;
  width: 290px;
}

.cleidson-costa {
  height: 29px;
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 562px;
  width: 290px;
}

.x3h-6min {
  height: 23px;
  left: 368px;
  letter-spacing: 0;
  opacity: 0.5;
  position: absolute;
  top: 565px;
}

.image-9 {
  height: 415px;
  left: 475px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 919px;
}

.image-10 {
  height: 331px;
  left: 467px;
  object-fit: cover;
  position: absolute;
  top: 533px;
  width: 929px;
}

.rectangle-259 {
  background-color: var(--black);
  border: 1px none;
  height: 914px;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 1440px;
}

.group-190 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 70px;
  left: 1347px;
  min-width: 66px;
  position: absolute;
  top: 25px;
}

.overlap-group1 {
  align-items: center;
  background-image: url(/static/img/rectangle-9@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 205px;
  min-height: 383px;
  padding: 56.0px 173.0px;
  position: absolute;
  top: 260px;
  width: 1030px;
}

.bem-vindo {
  align-self: flex-end;
  height: 58px;
  letter-spacing: -0.19px;
  text-align: center;
  width: 684px;
}

.group-179 {
  background-color: var(--white);
  border-radius: 7px;
  height: 46px;
  margin-left: 0.48px;
  margin-top: 52px;
  width: 644px;
}

.rectangle-252 {
  background: linear-gradient(180deg, rgb(207, 20, 110) 0%, rgba(207, 20, 110, 0) 100%);
  border: 1px none;
  border-radius: 56px;
  height: 52px;
  margin-right: 33.0px;
  margin-top: 48px;
  width: 245px;
}

.bem-vindo-1 {
  cursor: pointer;
  height: 38px;
  left: 634px;
  letter-spacing: -0.14px;
  position: absolute;
  text-align: center;
  top: 526px;
  width: 139px;
}

.ellipse-2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  width: 583px;
}

