
.control {
    display: flex;
    flex-direction: row;
    width: 96%;
    align-items: center;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(16, 15, 15);
    color: aliceblue;
    opacity: 0.6;
    background-position: center;
    background-size: cover;
    filter: contrast(95%);
    padding: 0;
}

.carousel-item-custom a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-custom:hover{
    opacity: 1;
    transition: transform 0.25s;
    transform: scale3d(1.1,1.1,1.1);
}

.indicators {
    
    margin-bottom: 80px;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.indicators > img {
    opacity: 0.5;
}

.indicators > img:hover {
    opacity: 1;
}


.main-title-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--solitude);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    opacity: 1 !important;
    flex-wrap: wrap;
    overflow: hidden;
}