.control {
    display: flex;
    flex-direction: row;
    width: 96%;
    align-items: center;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item-custom {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: rgb(255, 255, 255);
    background-position: center;
    background-size: 100%;
    padding: 0;
    margin: 0 .5%;
}

.carousel-item-custom a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item-custom:hover{
    transition: all 0.25s;
    background-size: 110%;
}

.carousel-item-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.282);
}

.indicators {
    
    margin-bottom: 80px;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.indicators > img {
    opacity: 0.5;
}

.indicators > img:hover {
    opacity: 1;
}


.main-title-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--solitude);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    opacity: 1 !important;
    flex-wrap: wrap;
    overflow: hidden;
}