.player-2 {
  align-items: center;
  background-color: var(--eerie-black);
  border: 1.33px none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 101px;
  padding: 0.0px 0;
  width: 1440px;
}

.border-top-1 {
  background-color: var(--razzmatazz);
  border: 1.33px none;
  height: 1px;
  width: 1440px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  margin-left: 0;
  min-width: 1397px;
}

.left-controls-1 {
  align-items: flex-start;
  border: 1.33px none;
  display: flex;
  gap: 16px;
  height: 75px;
  min-width: 256px;
}

.song-info-1 {
  align-items: center;
  border: 1.33px none;
  display: flex;
  gap: 16px;
  margin-top: 0;
  width: fit-content;
}

.album-cover-1 {
  height: 90.33px;
  margin-bottom: -13.00px;
  margin-left: -16.00px;
  margin-top: -2.67px;
  min-width: 106.67px;
  object-fit: cover;
}

.title-author-1 {
  align-items: flex-start;
  border: 1.33px none;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.in-my-feelings-1 {
  letter-spacing: 0;
  line-height: 26.7px;
  margin-top: -1.33px;
  white-space: nowrap;
  width: fit-content;
}

.name-11 {
  letter-spacing: 0;
  line-height: 21.3px;
  white-space: nowrap;
  width: fit-content;
}

.icon-heart-5 {
  align-self: center;
  height: 21px;
  margin-bottom: 0;
  width: 21px;
}

.player-3 {
  align-items: center;
  border: 1.33px none;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 24px;
  min-height: 75px;
  width: 837px;
}

.controls-1 {
  align-items: flex-start;
  border: 1.33px none;
  display: flex;
  gap: 11px;
  height: 43px;
  margin-left: 0;
  min-width: 256px;
  position: relative;
}

.timeline-2 {
  align-items: flex-start;
  border: 1.33px none;
  display: flex;
  height: 21px;
  margin-left: 0;
  min-width: 837px;
  padding: 0 0.0px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 21.3px;
  margin-top: -1.33px;
  min-height: 22px;
  min-width: 35px;
  white-space: nowrap;
}

.timeline-3 {
  align-items: flex-end;
  align-self: center;
  background-color: var(--wild-sand);
  border: 1.33px none;
  border-radius: 13332px;
  display: flex;
  margin-left: 10px;
  margin-top: 0;
  overflow: hidden;
  width: 747px;
}

.completed-1 {
  background-color: var(--razzmatazz);
  border: 1.33px none;
  border-radius: 13332px;
  height: 5px;
  margin-bottom: 0;
  width: 565px;
}

.text-2-1 {
  letter-spacing: 0;
  line-height: 21.3px;
  margin-left: 11px;
  margin-top: -1.33px;
  min-height: 22px;
  white-space: nowrap;
}

.right-controls-1 {
  align-items: center;
  border: 1.33px none;
  display: flex;
  margin-left: 35px;
  margin-top: 0;
  position: relative;
  width: fit-content;
}

.volume-1 {
  background-color: var(--wild-sand);
  border: 1.33px none;
  border-radius: 13332px;
  height: 5.33px;
  min-width: 117.33px;
  overflow: hidden;
}

.filled-1 {
  background-color: var(--stack);
  border: 1.33px none;
  border-radius: 13332px;
  height: 5px;
  width: 89px;
}

.player-2.player-4,
.player-2.player-10,
.player-2.player-16,
.player-2.player-22 {
  margin-top: 16px;
}

.player-2.player-4 .album-cover-1,
.player-2.player-20 .album-cover-1 {
  height: 89.33px;
  margin-bottom: -12.00px;
  min-width: 106.67px;
}

.player-2.player-4 .controls-1,
.player-2.player-6 .controls-1,
.player-2.player-14 .controls-1,
.player-2.player-16 .controls-1,
.player-2.player-20 .controls-1,
.player-2.player-22 .controls-1,
.player-2.player-24 .controls-1,
.player-2.player-1-1 .controls-1,
.player-2.player-28 .controls-1,
.player-2.player-1 .controls-1 {
  align-items: center;
}

.player-2.player-6,
.player-2.player-14,
.player-2.player-24 {
  left: 0;
  position: absolute;
  top: 923px;
}

.player-2.player-6 .album-cover-1 {
  height: 90.33px;
  min-width: 106.67px;
}

.player-2.player-8 .album-cover-1,
.player-2.player-12 .album-cover-1 {
  height: 89.33px;
  margin-bottom: -12.00px;
  min-width: 106.67px;
}

.player-2.player-10 .album-cover-1,
.player-2.player-22 .album-cover-1,
.player-2.player-1-1 .album-cover-1,
.player-2.player-1 .album-cover-1 {
  height: 89.33px;
  margin-bottom: -12.00px;
}

.player-2.player-12 {
  left: 0;
  position: absolute;
  top: 1070px;
}

.player-2.player-14 .left-controls-1,
.player-2.player-1-1 .left-controls-1,
.player-2.player-1 .left-controls-1 {
  justify-content: flex-end;
}

.player-2.player-14 .album-cover-1 {
  height: 90.33px;
}

.player-2.player-16 .album-cover-1 {
  height: 89.33px;
  margin-bottom: -12.00px;
  min-width: 106.67px;
}

.player-2.player-18 {
  margin-top: 59px;
}

.player-2.player-18 .album-cover-1 {
  height: 89.33px;
  margin-bottom: -12.00px;
  min-width: 106.67px;
}

.player-2.player-24 .album-cover-1 {
  height: 90.33px;
  min-width: 106.67px;
}

.player-2.player-1,
.player-2.player-1-1 {
  left: 0;
  position: absolute;
  top: 0;
}

.player-2.player-26 .album-cover-1 {
  height: 88.33px;
  margin-bottom: -11.00px;
  min-width: 106.67px;
}

.player-2.player-28 .album-cover-1 {
  height: 88.33px;
  margin-bottom: -11.00px;
  min-width: 106.67px;
}

