.group-1822-1 {
  align-items: center;
  display: flex;
  height: 22px;
  left: 340px;
  min-width: 103px;
  position: fixed;
  top: 171px;
}

.justin-bieber {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 22px;
  white-space: nowrap;
  width: 63px;
}

.rectangle-573 {
  background-color: var(--white-2);
  border: 1px none;
  height: 16px;
  margin-left: 4px;
  width: 1px;
}

.song {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 5px;
  min-height: 22px;
  white-space: nowrap;
  width: 25px;
}

.group-1822-1.group-1822-2 {
  top: 399px;
}

.group-1822-1.group-1822-3 {
  left: 339px;
  top: 285px;
}

.group-1822-1.group-1822 {
  left: unset;
  position: unset;
  top: unset;
}

