.group-178 {
  align-items: center;
  display: flex;
  gap: 34px;
  height: 59px;
  left: 114px;
  min-width: 302px;
  position: absolute;
  top: 796px;
}

.frame-354 {
  align-items: center;
  border: 1px none;
  display: flex;
  height: 59px;
  padding: 3.3px 0;
  width: 212px;
}

.icon-heart {
  height: 31px;
  margin-left: 13px;
  margin-top: 4.92px;
  width: 33px;
}

.vector {
  height: 36px;
  margin-left: 51px;
  margin-top: 3.28px;
  width: 36px;
}

.iconsappsapp-storemore {
  align-self: flex-end;
  height: 46px;
  margin-left: 34px;
  width: 46px;
}

.group-178.group-198 {
  height: unset;
  left: unset;
  margin-left: 91px;
  margin-top: 205px;
  position: relative;
  top: unset;
}

.group-178.group-188,
.group-178.group-188-1 {
  top: 807px;
}

