.desktop-edicao-da-informacoes-da-playlist {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  gap: 1410px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group2-7 {
  height: 1024px;
  position: relative;
  width: 1440px;
}

.image-7-6 {
  height: 392px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 163px;
  width: 866px;
}

.image-8-6 {
  height: 312px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 876px;
}

.image-15-6 {
  height: 34px;
  left: 1174px;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 189px;
}

.group-183-1 {
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px #00000040;
  height: 377px;
  left: 67px;
  position: absolute;
  top: 129px;
  width: 350px;
}

.to-the-moon-7 {
  height: 29px;
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 528px;
  width: 290px;
}

.x3h-6min-7 {
  height: 23px;
  left: 345px;
  letter-spacing: 0;
  opacity: 0.5;
  position: absolute;
  top: 574px;
}

.icon-heart-28 {
  height: 31px;
  left: 191px;
  position: absolute;
  top: 842px;
  width: 33px;
}

.vector-43 {
  height: 36px;
  left: 274px;
  position: absolute;
  top: 841px;
  width: 36px;
}

.name-31 {
  left: 108px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 66px;
}

.image-2-14 {
  height: 63px;
  left: 25px;
  position: absolute;
  top: 30px;
  width: 70px;
}

.view-profile-13 {
  left: 113px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 86px;
}

.cleidson-costa-7 {
  height: 29px;
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 571px;
  width: 290px;
}

.rectangle-267-1 {
  background-color: var(--black);
  border: 1px none;
  height: 924px;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 1440px;
}

.iconsappsapp-storemore-33 {
  height: 46px;
  left: 344px;
  position: absolute;
  top: 836px;
  width: 46px;
}

.rectangle-266-3 {
  height: 383px;
  left: 247px;
  position: absolute;
  top: 287px;
  width: 1030px;
}

.bem-vindo-8 {
  height: 108px;
  left: 134px;
  letter-spacing: -0.12px;
  position: absolute;
  text-align: center;
  top: 293px;
  width: 709px;
}

.bem-vindo-9 {
  height: 108px;
  left: 141px;
  letter-spacing: -0.12px;
  position: absolute;
  text-align: center;
  top: 414px;
  width: 1071px;
}

.img_15491613 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(207, 20, 110) 14.06%, rgba(207, 20, 110, 0) 100%);
  background-clip: text;
  left: 292px;
  letter-spacing: 0;
  position: absolute;
  text-fill-color: transparent;
  top: 523px;
  width: 295px;
}

.album-cover {
  height: 117px;
  left: 567px;
  object-fit: cover;
  position: absolute;
  top: 496px;
  width: 137px;
}

.rectangle-291 {
  background-color: var(--black);
  border: 1px none;
  height: 50px;
  left: 277px;
  position: absolute;
  top: 378px;
  width: 971px;
}

.bem-vindo-10 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(207, 20, 110) 12.5%, rgba(207, 20, 110, 0) 100%);
  background-clip: text;
  height: 55px;
  left: 119px;
  letter-spacing: -0.12px;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 376px;
  width: 605px;
}

.group-190-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 70px;
  left: 1347px;
  min-width: 66px;
  position: absolute;
  top: 25px;
}

.group-230 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  left: 944px;
  min-width: 306px;
  padding: 0 2.0px;
  position: absolute;
  top: 601px;
}

.overlap-group1-11 {
  align-items: center;
  background-image: url(/static/img/rectangle-265@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  min-width: 261px;
  padding: 0 42.0px;
}

.bem-vindo-11 {
  height: 38px;
  letter-spacing: -0.14px;
  text-align: center;
  width: 177px;
}

.ellipse-2-11 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  margin-top: -291px;
  width: 583px;
}

