.desktop-menu-de-opcoes {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  gap: 1410px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group1-2 {
  height: 1024px;
  position: relative;
  width: 1440px;
}

.image-7-1 {
  height: 392px;
  left: 497px;
  object-fit: cover;
  position: absolute;
  top: 163px;
  width: 866px;
}

.image-8-1 {
  height: 312px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 876px;
}

.image-15-1 {
  height: 34px;
  left: 1174px;
  object-fit: cover;
  position: absolute;
  top: 130px;
  width: 189px;
}

.group-183 {
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px #00000040;
  height: 377px;
  left: 67px;
  position: absolute;
  top: 129px;
  width: 350px;
}

.to-the-moon-1 {
  height: 29px;
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 528px;
  width: 290px;
}

.x3h-6min-1 {
  height: 23px;
  left: 345px;
  letter-spacing: 0;
  opacity: 0.5;
  position: absolute;
  top: 574px;
}

.icon-heart-20 {
  height: 31px;
  left: 191px;
  position: absolute;
  top: 842px;
  width: 33px;
}

.vector-31 {
  height: 36px;
  left: 274px;
  position: absolute;
  top: 841px;
  width: 36px;
}

.name-25 {
  left: 108px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 66px;
}

.image-2-11 {
  height: 63px;
  left: 25px;
  position: absolute;
  top: 30px;
  width: 70px;
}

.view-profile-10 {
  left: 113px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 86px;
}

.cleidson-costa-1 {
  height: 29px;
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 571px;
  width: 290px;
}

.rectangle-266 {
  background-color: var(--black);
  border: 1px none;
  height: 947px;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 1440px;
}

.rectangle-266-1 {
  height: 286px;
  left: 224px;
  position: absolute;
  top: 542px;
  width: 221px;
}

.compartilhar {
  left: 283px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 603px;
  width: 99px;
}

.icon-upload_arrow {
  height: 26px;
  left: 244px;
  position: absolute;
  top: 601px;
  width: 21px;
}

.seguir {
  left: 283px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 649px;
  white-space: nowrap;
  width: 124px;
}

.adicionar-msica {
  left: 283px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 693px;
  white-space: nowrap;
  width: 126px;
}

.group-231 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 18px;
  height: 25px;
  left: 243px;
  min-width: 188px;
  position: absolute;
  top: 739px;
}

.remover {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 19px;
  white-space: nowrap;
}

.group-228 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 13px;
  height: 44px;
  left: 242px;
  min-width: 190px;
  position: absolute;
  top: 558px;
}

.kisspng-computer-ico {
  height: 25px;
  object-fit: cover;
  width: 28px;
}

.editar-informaes {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 44px;
  width: 147px;
}

.group-234 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 18px;
  height: 23px;
  left: 243px;
  min-width: 188px;
  position: absolute;
  top: 782px;
}

.image-18-1 {
  align-self: flex-end;
  height: 22px;
  object-fit: cover;
  width: 22px;
}

.iconsappsapp-storemore-10 {
  height: 46px;
  left: 344px;
  position: absolute;
  top: 836px;
  width: 46px;
}

.ellipse-2-2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  margin-top: -291px;
  width: 583px;
}

