.desktop-15 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  gap: 1410px;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.flex-col-36 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  min-height: 1003px;
  position: relative;
  width: 1440px;
}

.overlap-group3 {
  align-self: center;
  height: 63px;
  margin-left: 6.0px;
  position: relative;
  width: 1394px;
}

.rectangle-292 {
  border: 1px none;
  cursor: pointer;
  height: 46px;
  left: 1337px;
  position: absolute;
  top: 5px;
  width: 47px;
}

.rectangle-585 {
  border: 1px none;
  height: 49px;
  left: 1126px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.rectangle-586 {
  border: 1px none;
  cursor: pointer;
  height: 49px;
  left: 1126px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.flex-row-16 {
  align-items: flex-start;
  display: flex;
  gap: 61px;
  height: 779px;
  margin-top: 44px;
  min-width: 1373px;
}

.flex-col-37 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 754px;
  width: 351px;
}

.group-164 {
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px #00000040;
  height: 377px;
  margin-right: 0.6px;
  width: 350px;
}

.overlap-group5 {
  height: 275px;
  margin-left: 0;
  margin-top: 27px;
  position: relative;
  width: 351px;
}

.overlap-group {
  height: 264px;
  left: 0;
  position: absolute;
  top: 0;
  width: 351px;
}

.rectangle-587 {
  background-color: #333333;
  border: 1px none;
  border-radius: 27px;
  height: 254px;
  left: 0;
  position: absolute;
  top: 0;
  width: 351px;
}

.seguidor-da-silva-santos {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 32px;
}

.image-2-10 {
  height: 35px;
  left: 29px;
  position: absolute;
  top: 25px;
  width: 35px;
}

.seguidor-da-silva-santos-1 {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 83px;
}

.image-18 {
  height: 35px;
  left: 29px;
  position: absolute;
  top: 76px;
  width: 35px;
}

.seguidor-da-silva-santos-2 {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 134px;
}

.image-19 {
  height: 35px;
  left: 29px;
  position: absolute;
  top: 127px;
  width: 35px;
}

.seguidor-da-silva-santos-3 {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 185px;
}

.image-20 {
  height: 35px;
  left: 29px;
  position: absolute;
  top: 178px;
  width: 35px;
}

.seguidor-da-silva-santos-4 {
  left: 75px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 236px;
}

.image-21 {
  height: 35px;
  left: 29px;
  position: absolute;
  top: 229px;
  width: 35px;
}

.rectangle-588 {
  background-color: #d9d9d947;
  border: 1px none;
  border-radius: 17px;
  height: 219px;
  left: 323px;
  position: absolute;
  top: 17px;
  width: 11px;
}

.rectangle-589 {
  background-color: #242424;
  border: 1px none;
  border-radius: 17px;
  height: 32px;
  left: 325px;
  position: absolute;
  top: 19px;
  width: 7px;
}

.rectangle-590 {
  background-color: var(--cod-gray);
  border: 1px none;
  height: 21px;
  left: 8px;
  position: absolute;
  top: 254px;
  width: 334px;
}

.flex-row-17 {
  align-items: center;
  display: flex;
  height: 56px;
  margin-right: 7.0px;
  margin-top: 19px;
  min-width: 302px;
  position: relative;
}

.icon-heart-19 {
  height: 31px;
  margin-left: 47px;
  margin-top: 3.92px;
  width: 33px;
}

.vector-30 {
  height: 36px;
  margin-left: 51px;
  margin-top: 6.28px;
  width: 36px;
}

.iconsappsapp-storemore-8 {
  align-self: flex-end;
  cursor: pointer;
  height: 46px;
  margin-bottom: 2.28px;
  margin-left: 34px;
  width: 46px;
}

.flex-col-38 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 779px;
  width: 961px;
}

.image-15 {
  height: 34px;
  margin-right: 26px;
  object-fit: cover;
  width: 189px;
}

.overlap-group4 {
  height: 702px;
  position: relative;
  width: 961px;
}

.image-7 {
  height: 392px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 866px;
}

.image-8 {
  height: 312px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 390px;
  width: 876px;
}

.image-16 {
  height: 381px;
  left: 874px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 87px;
}

.image-17 {
  height: 319px;
  left: 875px;
  object-fit: cover;
  position: absolute;
  top: 382px;
  width: 74px;
}

.group-237 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 893px;
  min-height: 657px;
  position: absolute;
  top: 31px;
  width: 31px;
}

.iconsappsapp-storemore-4 {
  height: 31px;
  width: 31px;
}

.iconsappsapp-storemore-5 {
  height: 31px;
  margin-top: 22px;
  width: 31px;
}

.iconsappsapp-storemore-6 {
  height: 31px;
  margin-top: 20px;
  width: 31px;
}

.overlap-group1-1 {
  align-items: flex-start;
  background-image: url(/static/img/icons-apps-app-store-more-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  margin-top: 20px;
  min-width: 31px;
}

.iconsappsapp-storemore-9 {
  height: 31px;
  margin-top: 27px;
  width: 31px;
}

.iconsappsapp-storemore-7 {
  height: 31px;
  margin-top: 21px;
  width: 31px;
}

.overlap-group-1 {
  align-self: center;
  border-radius: 56px;
  height: 35px;
  margin-right: 23.0px;
  margin-top: 8px;
  position: relative;
  width: 166px;
}

.iconsappsinstagramadd {
  height: 23px;
  left: 30px;
  position: absolute;
  top: 6px;
  width: 30px;
}

.rectangle-268 {
  background: linear-gradient(180deg, rgb(207, 20, 110) 0%, rgba(207, 20, 110, 0) 100%);
  border: 1px none;
  border-radius: 56px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 166px;
}

.bem-vindo-2 {
  height: 18px;
  left: 60px;
  letter-spacing: -0.05px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 72px;
}

.ellipse-2-1 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  margin-top: -291px;
  width: 583px;
}

