.playlistContent-main {
  width: 350px;
  min-height: 602px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Inter";

  position: relative;
}

.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.548);

  width: 100%;
  height: 100%;

  display: none;
}

.removePlaylistModalDiv,
.removeMusicModalDiv,
.editPlaylistModalDiv,
.followersListModalDiv {
  display: none;
}

.playlistContent-image {
  width: 350px;
  height: 380px;

  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 21px;
}

.playlistContent-image img {
  width: 41px;
  height: 41px;
}

.playlistContent-followHeart {
  width: 33px;
  height: 33px;
}

.playlistContent-image p {
  position: absolute;
  bottom: 10px;
  left: 10px;

  font-weight: 700;
  font-size: 38px;
  color: #eaf0ff;
  display: flex;
  align-items: center;
}

.playlistContent-name {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #eaf0ff;

  text-align: left;

  margin-bottom: 14px;
}

.playlistContent-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.playlistContent-infos p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #eaf0ff;
}

.playlistContent-infos-duration {
  opacity: 0.5;
}

.playlistContent-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 0;
}

.playlistContent-buttons img {
  cursor: pointer;
}

.playlistContent-buttons-options {
  position: relative;
}

.playlistContent-buttons-optionsPopup {
  position: absolute;
  top: -235px;
  left: -120px;

  min-width: 224px;
  padding: 20px;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.304) 100%
  );
  backdrop-filter: blur(21px);
  border-radius: 16px;
}

.playlistContent-buttons-optionsPopup p {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  gap: 10px;
}

.playlistContent-buttons-optionsPopup p img {
  width: 25px;
  height: 25px;
}
