.desktop-pesquisa-1 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  gap: 718px;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.overlap-group6 {
  height: 1671px;
  margin-top: -146px;
  position: relative;
  width: 2132px;
}

.overlap-group5-3 {
  height: 1671px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2132px;
}

.your-library-14 {
  left: 920px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 199px;
  width: 86px;
}

.place-14 {
  left: 833px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 198px;
  width: 50px;
}

.icon-search-15 {
  height: 21px;
  left: 1312px;
  position: absolute;
  top: 177px;
  width: 21px;
}

.search-14 {
  left: 1294px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 203px;
  width: 59px;
}

.vector-37 {
  height: 20px;
  left: 849px;
  position: absolute;
  top: 172px;
  width: 18px;
}

.vector-38 {
  height: 20px;
  left: 952px;
  position: absolute;
  top: 174px;
  width: 21px;
}

.group-1843 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 46px;
  left: 1031px;
  min-width: 395px;
  position: absolute;
  top: 168px;
}

.overlap-group-9 {
  align-items: center;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  gap: 12px;
  height: 46px;
  min-width: 393px;
  padding: 9px 14.6px;
}

.icon-search-16 {
  height: 21px;
  margin-top: 1.0px;
  width: 21px;
}

.artists-songs-or-podcasts {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 23px;
  text-align: center;
  width: 206px;
}

.overlap-group2-2 {
  height: 1671px;
  left: 344px;
  position: absolute;
  top: 0;
  width: 1786px;
}

.rectangle-24 {
  background-color: var(--biscay);
  border: 1px none;
  border-radius: 10px;
  height: 231px;
  left: 0;
  position: absolute;
  top: 720px;
  width: 231px;
}

.made-for-you {
  left: 22px;
  letter-spacing: -1.16px;
  position: absolute;
  top: 741px;
  width: 179px;
}

.spotify-blog-header-square {
  border: 1px none;
  height: 1671px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 1671px;
}

.image-1 {
  height: 112px;
  left: 119px;
  mix-blend-mode: luminosity;
  object-fit: cover;
  position: absolute;
  top: 839px;
  width: 112px;
}

.overlap-group3-2 {
  align-items: flex-end;
  background-color: #8d67ab;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 610px;
  min-height: 231px;
  position: absolute;
  top: 720px;
  width: 232px;
}

.discover,
.concerts-1,
.new-releases {
  align-self: center;
  letter-spacing: -1.16px;
  margin-right: 8.03px;
  margin-top: 21px;
  min-height: 38px;
  width: 180px;
}

.image {
  height: 112px;
  mix-blend-mode: luminosity;
  object-fit: cover;
  width: 112px;
}

.concerts {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  height: 231px;
  left: 877px;
  min-width: 496px;
  position: absolute;
  top: 720px;
}

.overlap-group4-3 {
  align-items: flex-end;
  background-color: var(--biscay);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-height: 231px;
  width: 232px;
}

.overlap-group-10 {
  align-items: flex-end;
  background-color: #e8115b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-height: 231px;
  width: 232px;
}

.rectangle-585-3 {
  border: 1px none;
  cursor: pointer;
  height: 49px;
  left: 835px;
  position: absolute;
  top: 167px;
  width: 46px;
}

.name-27 {
  left: 109px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 175px;
  width: 66px;
}

.image-2-13 {
  height: 63px;
  left: 26px;
  position: absolute;
  top: 168px;
  width: 70px;
}

.view-profile-12 {
  left: 114px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 204px;
  width: 86px;
}

.overlap-group1-5 {
  align-items: flex-start;
  background-color: #27856a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  left: 78px;
  min-height: 231px;
  position: absolute;
  top: 720px;
  width: 231px;
}

.podcasts {
  letter-spacing: -2.03px;
  margin-left: 22px;
  margin-top: 21px;
  min-height: 38px;
  width: 116px;
}

.image-4 {
  align-self: flex-end;
  height: 112px;
  mix-blend-mode: luminosity;
  object-fit: cover;
  width: 112px;
}

.ellipse-2-5 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(207.19, 19.86, 109.77, 0.61) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px none;
  border-radius: 291.5px;
  height: 583px;
  margin-top: -291px;
  width: 583px;
}

