.component-29,
.component-29-1,
.component-29-2,
.component-29-3 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  min-width: 66px;
}

.line-container,
.line-container-1,
.line-container-2,
.line-container-3 {
  height: 70px;
  margin-bottom: -0.02px;
  position: relative;
  width: 67px;
}

.line-21,
.line-21-1,
.line-21-2,
.line-21-3 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 67px;
}

.line-22,
.line-22-1,
.line-22-2,
.line-22-3 {
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
}

