.playlistMusics-main {
  width: 100%;
  height: 602px;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-family: "Inter";
}

.playlistMusics-noMusicDiv p {
  padding: 18px 30px 20px;
  background: linear-gradient(180deg, #cf146e 0%, rgba(207, 20, 110, 0) 100%);
  border-radius: 56px;

  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.004em;

  color: #ffffff;
  cursor: pointer;
}

.addMusicModalDiv {
  display: none;
}

.playlistMusics-removeAllMusicsButton {
  width: 100%;
  display: none;
  justify-content: flex-end;

  gap: 10px;

  cursor: pointer;

  padding-right: 10px;
}

.playlistMusics-removeAllMusicsButton p {
  padding: 5px 15px 7px;
  background: linear-gradient(180deg, #cf146e 0%, rgb(11, 11, 11) 100%);
  border-radius: 20px;

  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.004em;

  color: #ffffff;
}

.playlistMusics-hasMusicDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: 10px;
}

.playlistMusics-hasMusicDiv p {
  margin-bottom: 0;
}

.playlistMusics-music {
  display: flex;
  align-items: center;

  width: 100%;
  height: 65px;
  gap: 10px;

  background-color: rgb(31, 31, 31);
  border-radius: 10px;

  padding: 8px 20px;
}

.playlistMusics-music-index {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

.playlistMusics-music-infos {
  display: flex;
  align-items: center;
  gap: 10px;

  max-width: 300px;
  width: 100%;
}

.playlistMusics-music-infos img {
  width: 40px;
  height: 40px;
}

.playlistMusics-music-infos-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 2px;
}

.playlistMusics-music-musicName {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.playlistMusics-music-text {
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}

.playlistMusics-music-album,
.playlistMusics-music-release {
  max-width: 300px;
  width: 100%;
}

.playlistMusics-music-duration {
  margin-right: 40px;
}

.playlistMusics-music-options {
  position: relative;
}

.playlistMusics-music-options img {
  cursor: pointer;
}

.playlistMusics-music-optionsPopup {
  position: absolute;
  left: -145px;
  top: -10px;

  min-width: 104px;
  padding: 20px;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.304) 100%
  );
  backdrop-filter: blur(21px);
  border-radius: 16px;

  box-shadow: 2px 0px 9px #de0f7334;
}

.playlistMusics-music-optionsPopup p {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  gap: 12px;
}

.playlistMusics-music-optionsPopup p img {
  width: 25px;
  height: 25px;
}

.playlistMusics-music-removeCheckbox {
  display: none;
}

.playlistMusics-music-removeCheckbox input {
  width: 20px;
  height: 20px;
}